* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Raleway", sans-serif;
}

body {
  background-color: #000;
}

.wrapper {
  position: relative;
  max-width: 2540px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
  font-family: "Raleway", sans-serif;
}

.btn {
  display: block;
  width: 250px;
  height: 60px;
  font-size: 20px;
  color: #f78b00;
  border: 1px solid #f78b00;
  background-color: rgba(0, 0, 0, 0.705);
  margin: 30px auto;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}
.btn:hover {
  color: #fff;
  background-color: #f78b00;
  border: 1px solid #f78b00;
}

header .wrapper {
  position: fixed;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  height: 110px;
  width: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 999;
}
header .wrapper .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}
header .wrapper .logo {
  position: relative;
  z-index: 999;
  width: 250px;
  font-size: 32px;
  font-weight: 700;
  padding: 35px 10px;
}
header .wrapper .logo a {
  color: #fff;
  cursor: pointer;
}

.main-nav {
  display: none;
}
.main-nav.active {
  display: block;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.95);
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  padding: 140px 20px 50px;
  z-index: 998;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
.main-nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-nav ul li {
  padding: 20px 0;
  text-align: center;
  overflow: hidden;
  position: relative;
  transition: 0.3s;
}
.main-nav ul li:hover a {
  font-weight: 700;
  color: #f78b00;
}
.main-nav ul li a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  transition: 0.3s;
}

.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all 0.3s;
  box-sizing: border-box;
}

.menu-trigger {
  position: fixed;
  top: 40px;
  right: 40px;
  width: 35px;
  height: 30px;
  background: none;
  border: none;
  appearance: none;
  cursor: pointer;
  z-index: 999;
}

.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  border-radius: 8px;
}

.menu-trigger span:nth-of-type(1) {
  top: 0;
}

.menu-trigger span:nth-of-type(2) {
  top: 13px;
}

.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}

.active span:nth-of-type(1) {
  transform: translateY(15px) rotate(-45deg);
}

.active span:nth-of-type(2) {
  opacity: 0;
}

.active span:nth-of-type(3) {
  transform: translateY(-12px) rotate(45deg);
}

.menu-btn-container {
  border-radius: 50%;
  top: 20px;
  position: fixed;
  right: 22px;
  width: 70px;
  height: 70px;
  background: #f78b00;
  z-index: 999;
}

.home .wrapper {
  background-image: url("../src/img/buildings-g99d1aaa47_1280.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;
  background-size: cover;
}
.home .wrapper::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.home .wrapper .heading-container {
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}
.home .wrapper .heading-container h1 {
  font-size: 30px;
  line-height: 1.3;
  text-align: center;
  color: #fff;
  max-width: 350px;
  margin: 20px auto;
}
.home .wrapper .heading-container h2 {
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  color: #fff;
  max-width: 600px;
  margin: 0 auto;
}

.about .wrapper {
  background-color: rgb(15, 15, 15);
  margin: 0 auto;
  padding: 20px 10px 80px;
}
.about .wrapper h2 {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  margin: 30px auto;
  color: white;
}
.about .wrapper .about-container {
  display: flex;
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
  justify-content: space-between;
  flex-direction: column;
}
.about .wrapper .about-container .about-container_item {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  margin-top: 50px;
  padding: 10px;
  border-radius: 5px;
  transition: 0.2s;
  border: 2px solid rgba(255, 242, 242, 0.5);
  position: relative;
  background-color: #f78b00;
}
.about .wrapper .about-container .about-container_item:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.22);
}
.about .wrapper .about-container .about-container_item img {
  display: block;
  margin: 0 auto;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.about .wrapper .about-container .about-container_title {
  text-align: center;
  font-size: 17px;
  text-transform: uppercase;
  width: 100%;
  padding: 10px;
  height: 70px;
  vertical-align: center;
  margin-top: 20px;
}
.about .wrapper .about-container .about-container_title h3 {
  color: white;
}
.about .wrapper .about-container .about-container_img {
  margin: 0 auto;
  position: relative;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: white;
}
.about .wrapper .about-container .about-container_img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.about .wrapper .about-container .about-container_body {
  padding: 20px;
  font-size: 1.1rem;
  text-align: center;
  letter-spacing: 0.5px;
  position: relative;
  min-height: 140px;
  overflow: hidden;
}
.about .wrapper .about-container .about-container_body p {
  position: absolute;
  top: 0;
  padding: 10px;
  color: white;
}
.about .wrapper .about-container .about-container_body h3 {
  color: white;
  font-weight: 700;
  font-size: 20px;
}

.info .wrapper {
  padding: 20px;
  background-color: #f7f7f7;
}
.info .wrapper h2 {
  text-align: center;
  font-size: 32px;
  text-transform: uppercase;
  margin: 30px auto;
  color: #f78b00;
}
.info .wrapper .info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  margin: 30px auto;
  max-width: 600px;
}
.info .wrapper .info-container_text {
  font-size: 22px;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: justify;
}
.info .wrapper .info-container_image {
  flex-basis: 50%;
  margin-top: 30px;
}
.info .wrapper .info-container_image img {
  max-width: 100%;
  position: relative;
  z-index: 0;
}

.strategy .wrapper {
  padding: 60px 20px;
  position: relative;
  background-image: url("../src/img/wall-street-4847634_1920.jpg");
  background-size: cover;
  color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 0;
}
.strategy .wrapper::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.strategy-content {
  margin: 30px auto 0;
  position: relative;
  display: flex;
  flex-direction: column;
}

.strategy-content_title h2 {
  text-align: center;
  font-size: 50px;
}

.strategy-content_title h3 {
  text-align: center;
  font-size: 25px;
  padding: 10px;
  color: #f78b00;
}

.strategy-content_items {
  margin-top: 15px;
}
.strategy-content_items .strategy-content_item p {
  font-size: 18px;
  position: relative;
  padding: 18px;
  max-width: 478px;
  margin: 0 auto;
}
.strategy-content_items .strategy-content_item i {
  display: block;
  color: #f78b00;
  font-size: 2.8rem;
  margin: 10px 10px 5px;
  text-align: center;
}

.contact .wrapper {
  position: relative;
  color: #fff;
  background-color: #000;
  overflow: hidden;
  padding: 30px 10px;
}
.contact .wrapper h1 {
  position: relative;
  text-align: center;
  font-size: 36px;
  margin: 20px auto;
  z-index: 1;
}
.contact .wrapper p {
  position: relative;
  font-size: 18px;
  color: white;
  z-index: 1;
  text-align: left;
  margin-bottom: 10px;
}
.contact .wrapper i {
  padding: 5px 10px;
  font-size: 20px;
  margin-left: 10px;
}
.contact .wrapper .column-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 20px;
}
.contact .wrapper .column-contact .contact-data {
  margin: 20px auto;
  border-radius: 5px;
}
.contact .wrapper .column-contact .contact-data h3 {
  margin-bottom: 30px;
  text-align: center;
  font-size: 26px;
  color: #f78b00;
}
.contact .wrapper .column-contact .google-map {
  width: 100%;
}
.contact .wrapper .column-contact iframe {
  width: 100%;
}

.copyright {
  height: 5vh;
}

.copyright p {
  text-align: center;
  font-size: 15px;
  color: white;
  line-height: 5vh;
}

footer {
  background-color: #000;
}

@media (min-width: 640px) {
  .home .wrapper .heading-container h1 {
    font-size: 48px;
    max-width: 500px;
  }
  .home .wrapper .heading-container h2 {
    font-size: 26px;
    max-width: 500px;
  }
  .strategy-content_items .strategy-content_item p {
    font-size: 20px;
    text-align: justify;
    padding: 10px;
  }
}
@media (min-width: 1024px) {
  header .wrapper .content {
    width: 98%;
    max-width: 1400px;
    margin: 0 auto;
  }
  header .wrapper .content .main-nav {
    display: block;
    display: flex;
    justify-content: flex-end;
  }
  header .wrapper .content .main-nav ul {
    height: unset;
    flex-direction: row;
  }
  header .wrapper .content .main-nav ul li {
    width: 150px;
  }
  header .wrapper .content .main-nav ul li a {
    font-size: 16px;
  }
  header .wrapper .content .main-nav ul li:first-of-type a {
    color: #f78b00;
    font-weight: 700;
  }
  header .wrapper .content .menu-btn-container {
    display: none;
  }
  .home .wrapper .heading-container h1 {
    font-size: 60px;
    max-width: 600px;
  }
  .home .wrapper .heading-container h2 {
    font-size: 26px;
    max-width: 570px;
  }
  .about .wrapper .about-container {
    flex-direction: row;
    width: 95%;
    max-width: 1200px;
    top: -150px;
    position: relative;
  }
  .about .wrapper .about-container .about-container_item {
    width: 100%;
  }
  .info .wrapper .info-container {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 50px auto;
    max-width: 1200px;
  }
  .info .wrapper .info-container_text {
    justify-content: center;
  }
  .info .wrapper .info-container_text p {
    padding: 30px;
  }
  .contact .wrapper h1 {
    font-size: 30px;
    margin: 20px auto;
  }
  .contact .wrapper p {
    font-size: 22px;
    text-align: left;
    margin-bottom: 10px;
  }
  .contact .wrapper i {
    padding: 5px 10px;
    font-size: 20px;
    margin-left: 10px;
  }
  .contact .wrapper .column-contact {
    flex-direction: row;
    max-width: 1000px;
    margin: 50px auto 0;
  }
  .contact .wrapper .column-contact .contact-data {
    margin: 40px auto;
  }
  .contact .wrapper .column-contact .google-map {
    width: 60%;
  }
}
@media (min-width: 1200px) {
  header .wrapper .content {
    width: 95%;
    max-width: 1440px;
    margin: 0 auto;
  }
  header .wrapper .content .main-nav ul li {
    width: 175px;
  }
  header .wrapper .content .main-nav ul li a {
    font-size: 18px;
  }
}
@media (min-width: 1300px) {
  header .wrapper .content .main-nav ul li {
    width: 180px;
  }
  header .wrapper .content .main-nav ul li a {
    font-size: 18px;
  }
}/*# sourceMappingURL=style.css.map */